<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>FilterAll</filter-name>
  <filter-class>filter.FilterAll</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>FilterAll</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>MVCLogin</servlet-name>
  <servlet-class>mvc.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCReport</servlet-name>
  <servlet-class>mvc.servlet.ReportListServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCNewRep</servlet-name>
  <servlet-class>mvc.servlet.NewReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCDelRep</servlet-name>
  <servlet-class>mvc.servlet.DeleteReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCMutiDelRep</servlet-name>
  <servlet-class>mvc.servlet.MutiDelReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCGoUpRep</servlet-name>
  <servlet-class>mvc.servlet.GoUpdateReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCUpRep</servlet-name>
  <servlet-class>mvc.servlet.UpdateReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCViewRep</servlet-name>
  <servlet-class>mvc.servlet.ViewReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCPrintRep</servlet-name>
  <servlet-class>mvc.servlet.PrintReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FileUploadServlet</servlet-name>
  <servlet-class>mvc.servlet.FileUploadServlet</servlet-class>
  <init-param>
   <param-name>fileSizeLimit</param-name>
   <param-value>50</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>DeleteFileServlet</servlet-name>
  <servlet-class>mvc.servlet.DeleteFileServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCPreNewRep</servlet-name>
  <servlet-class>mvc.servlet.PrepareNewReport</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCNewPatient</servlet-name>
  <servlet-class>mvc.servlet.NewPatientServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCSupRepList</servlet-name>
  <servlet-class>mvc.servlet.SupervisorReportListServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MVCAdminRepList</servlet-name>
  <servlet-class>mvc.servlet.SuperAdminReportListServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>NewInvestigationServlet</servlet-name>
  <servlet-class>mvc.servlet.NewInvestigationServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>CheckPublicLogNumberServlet</servlet-name>
  <servlet-class>mvc.servlet.CheckPublicLogNumberServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SupervisorWaitingListServlet</servlet-name>
  <servlet-class>mvc.servlet.SupervisorWaitingListServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SupervisorFinishListServlet</servlet-name>
  <servlet-class>mvc.servlet.SupervisorFinishListServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UpdateInvestigationServlet</servlet-name>
  <servlet-class>mvc.servlet.UpdateInvestigationServlet</servlet-class>
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HRCListReportServlet</servlet-name>
    <servlet-class>mvc.servlet.HRCListReportServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoGlobalSettingServlet</servlet-name>
    <servlet-class>mvc.servlet.GoGlobalSettingServlet</servlet-class>
  </servlet>


 <servlet-mapping>
  <servlet-name>MVCLogin</servlet-name>
  <url-pattern>/jsp/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCReport</servlet-name>
  <url-pattern>/jsp/ReportListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCNewRep</servlet-name>
  <url-pattern>/jsp/NewReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCDelRep</servlet-name>
  <url-pattern>/jsp/DeleteReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCMutiDelRep</servlet-name>
  <url-pattern>/jsp/MutiDelReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCGoUpRep</servlet-name>
  <url-pattern>/jsp/GoUpdateReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCUpRep</servlet-name>
  <url-pattern>/jsp/UpdateReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCViewRep</servlet-name>
  <url-pattern>/jsp/ViewReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCPrintRep</servlet-name>
  <url-pattern>/jsp/PrintReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileUploadServlet</servlet-name>
  <url-pattern>/jsp/FileUploadServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteFileServlet</servlet-name>
  <url-pattern>/jsp/DeleteFileServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCPreNewRep</servlet-name>
  <url-pattern>/jsp/PrepareNewReport</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCNewPatient</servlet-name>
  <url-pattern>/jsp/NewPatientServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCSupRepList</servlet-name>
  <url-pattern>/jsp/SupervisorReportListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MVCAdminRepList</servlet-name>
  <url-pattern>/jsp/SuperAdminReportListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>NewInvestigationServlet</servlet-name>
  <url-pattern>/jsp/NewInvestigationServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CheckPublicLogNumberServlet</servlet-name>
  <url-pattern>/jsp/CheckPublicLogNumberServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SupervisorWaitingListServlet</servlet-name>
  <url-pattern>/jsp/SupervisorWaitingListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SupervisorFinishListServlet</servlet-name>
  <url-pattern>/jsp/SupervisorFinishListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateInvestigationServlet</servlet-name>
  <url-pattern>/jsp/UpdateInvestigationServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HRCListReportServlet</servlet-name>
    <url-pattern>/jsp/HRCListReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoGlobalSettingServlet</servlet-name>
    <url-pattern>/jsp/GoGlobalSettingServlet</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/index.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/html/error404.html</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/html/error500.html</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
